body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.navigation {
    margin-top: 30px;
    text-align: center; 
}

.navigation a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.navigation a:hover {
    color: #00cc99;
}

.container {
    background-color: #fff;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.profile h1 {
    margin: 0;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
